<div class="content-header">
  <button class = "back-button" routerLink="/plan-b" routerLinkActive="active">< NAZAD</button>
</div>
<div class="content">
  <img src="../assets/Slike/Meniji/alkoholna-pica.png" alt="" height="40%" width="100%">
  <h2>ALKOHOLNA PIĆA</h2>
  <div class="meni">
    <div class="nazivi">
      <div class="art-1">
        <p class="ime_artikla">Vodka</p><p class="doza">0,03</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Pelinkovac</p><p class="doza">0,03</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Lavov</p><p class="doza">0,03</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Stock</p><p class="doza">0,03</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Jeger</p><p class="doza">0,03</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Gin</p><p class="doza">0,03</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Konjak</p><p class="doza">0,03</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Kruškovac</p><p class="doza">0,03</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Jack Daniel's</p><p class="doza">0,03</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Tequila</p><p class="doza">0,03</p>
      </div>
    </div>
    <div class="cijene">
      <div class="cij">
        <p class="cijena_artikla">1,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">1,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">1,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">2,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">2,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">1,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">1,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">1,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">5,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">3,00 KM</p>
      </div>
    </div>
  </div>
</div>
